
<form [formGroup]="contactForm" (ngSubmit)="submit()">
  <label class="form-label">
    Email <input class="form-control" formControlName="email">
  </label>
  <app-form-error [control]="contactForm.get('email')" fieldName="email"></app-form-error>
  <label class="form-label">
    Subject <input class="form-control" formControlName="subject">
  </label>
  <app-form-error [control]="contactForm.get('subject')" fieldName="sujet"></app-form-error>
  <label class="form-label">
    Message <textarea class="form-control" formControlName="message"></textarea>
  </label>
  <app-form-error [control]="contactForm.get('message')" fieldName="message"></app-form-error>
  <button class="btn btn-primary">Envoyer</button>
</form>
