<h2>Ajouter un livre</h2>
<form [formGroup]="bookGroup" (ngSubmit)="submit()">
  <label class="form-label">Titre </label><input class="form-control" formControlName="title">
  <app-form-error [control]="title" fieldName="titre"></app-form-error>

  <label class="form-label">Description <textarea class="form-control" formControlName="description"></textarea></label>
  <fieldset formGroupName="author" title="Auteur">
    <label class="form-label">Prénom <input class="form-control" formControlName="firstname"> </label>
    <app-form-error [control]="firstname" fieldName="prénom"></app-form-error>
    <label class="form-label">Nom <input class="form-control" formControlName="lastname"> </label>
    <app-form-error [control]="lastname" fieldName="nom"></app-form-error>
  </fieldset>
  <button class="btn btn-primary">Ajouter</button>
</form>

