
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="home">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/books/list">
      Liste des livres
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/books/add">
      Ajouter un livre
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact">
      Contact
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/categories">
      Categories
    </a>
  </li>
  <li class="nav-item" *ngIf="!isConnected">
    <a class="nav-link" routerLink="/login">
      Login
    </a>
  </li>
  <li class="nav-item" *ngIf="isConnected">
    <a class="nav-link" (click)="logout()">
      Logout
    </a>
  </li>
</ul>
